{:linters
 {:missing-body-in-when         {:level :warning}
  :missing-else-branch          {:level :warning}
  :namespace-name-mismatch      {:level :warning}
  :reduce-without-init          {:level :warning}
  :redundant-fn-wrapper         {:level :warning}
  :refer-all                    {:exclude [clojure.test]}
  :shadowed-var                 {:level :warning}
  :single-key-in                {:level :warning}
  :unsorted-required-namespaces {:level :warning}
  :use                          {:level :warning}
  :used-underscored-binding     {:level :warning}
  :warn-on-reflection           {:level :warning}}

 :config-in-comment
 {:linters {:unresolved-symbol {:level :off}}}}
